@page "/Students/Detials/{id:int}"
@using BlazorServerAppTest1.Data;


<h3>Students Details</h3>

<h1>@student.StudentName</h1>
<h2>@student.StudentAge</h2>
<h3>@student.StudentGrade : @student.StudentPhone</h3>

<br />
<div class="row">
    <div class="col">
        <p>@studentsService.GetDateTime()</p>
        <hr />
        <p>@studentsService.GetSystemVersion()</p>
    </div>
</div>


@code {

    [Parameter]
    public int id { get; set; }

    public Student student { get; set; }
    public IStudentsService studentsService { get; set; }

    protected override void OnInitialized()
    {
        studentsService = new StudentsService();
        student = studentsService.GetStudent(id);
    }
}
